.navbar-main {
  background-color: #161a1d;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.submit-button {
  padding: 5px;
  font-weight: 600;
  background-color: #161a1d;
  margin-left: 1em;
  color: white;
  border: 1px solid white;
}

.dropdown-button {
  background-color: #e5383b;
  cursor: pointer;
  padding: 5px;
  color: white;
}

.search-input {
  padding: 5px;
}

.search-input-error {
  background-color: #e5383b;
}

.submit-button:hover {
  cursor: pointer;
}

.pokedex-logo {
  cursor: pointer;
}
