/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e5383b;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid #161a1d;
  color: white;
  width: 50%;
  text-align: center;
}

.types-flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.stats-flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
