.pokemon-list-main {
  width: 80%;
  height: 100%;
  background-color: #f5f3f4;
  text-align: center;
  color: black;
  padding: 10px;
}

.list-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
}
