.pokemon-list-main {
  width: 80%;
  height: 100%;
  background-color: #f5f3f4;
  text-align: center;
  color: black;
  padding: 10px;
}

.list-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .list-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .list-columns {
    display: block;
    grid-template-columns: none;
  }
}
